html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

table, td, th {
    color: #ecf0f1;
}

.form-control {
    margin:12px !important;
}

.table-dark {
    color: #fff;
    background-color: #2c3e50;
    border: none;
}

.table-dark th,
.table-dark td {
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-dark tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.form-input {
    color: darkblue;
    font-weight: bold;
    margin-left: 20px;
    font-size: large
}

tr.light-color > th,
tr.light-color > td {
    color: #FFFAF0 !important;
}
